.my_table {
    border-collapse: collapse;
    width: 100%;
}

.my_table th {
    background-color: green;
}

.my_table tr + tr:hover {
    background-color: lightgray;
    transition: 0.3s ease;
}

.my_table th:first-child,
.my_table td:first-child {
    width: 5%;
}

.my_table th,
td {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 25%;
}
.my_table form {
    display: inline-block;
}

.my_table form > button {
    display: inline-block;
    background-color: #f5f5f5;
    padding: 2px 5px;
    border-radius: 5px;
}

.my_table form > button:hover {
    cursor: pointer;
    background-color: green;
    transition: 0.3s ease;
}
